body {
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0;
}
main {
    height: 100vh;
    width: 63vw;
    background-color: white;
    position: relative;
}
.upper {
    height: 58%;
    width: 98%;
    margin-left: .5%;
}
.upperBox {
    border: 5px solid black;
    height: 39%;
    width: 97%;
    margin-left: 13px;
    margin-top: 2%;
    display: flex;
    justify-items: center;
}
#purpleLeft {
    background-color: blueviolet;
    height: 67%;
    width: 4.75%;
    margin-top: 5%;
    margin-left: 10px;
}
#greenMiddle {
    background-color: rgb(69, 136, 51);
    width: 37.5%;
    height: 90%;
    margin-left: 5%;
    margin-top: 1%;
}
#blueCircle {
    background-color: rgb(119, 200, 230);
    width: 19%;
    height: 90%;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 10px;
}
.middleBox {
    border: 5px dotted black;
    height: 54%;
    width: 97%;
    margin-top: 2%;
    margin-left: 13px;
}
.innerMiddle {
    width: 91%;
    height: 68%;
    background-color: rgb(254, 250, 210);
    margin: auto;
    margin-top: 5%;
    box-shadow: 8px 8px 5px rgb(64, 64, 64);
}
#helloBox {
    background-color: white;
    border: .5px solid rgb(199, 199, 199);
    width: 48%;
    height: 33%;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    font-family: serif;
    font-size: 1.75vw;
    font-stretch: expanded;
    font-weight: 550;
    letter-spacing: 10px;
    color: darkblue;
    box-shadow: 3px 3px 3px rgb(146, 146, 146);
}
p {
    margin-top: 25%;
}